{% extends './register.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
	<span class="login100-form-logo">
		<img src="{% static 'images/sofa.png' %}" height="175px" alt="Image" class="img-fluid">
	</span>

    <br><br><br><br><br>

		{% csrf_token %}
		<div class="wrap-input100 validate-input">
			{{form.email|add_class:'input100'|attr:"placeholder:Your Email"}}
			<span class="focus-input100" data-placeholder="&#xf207;"></span>
		</div>
        <br>
	<div class="container-login100-form-btn">
		<button class="login100-form-btn">
			Send
		</button>
    </div>
{% endblock content %}
{% block go_back %}
<br><br>
<div class="container-login100-form-btn">
    <a href="{% url 'shop:product_list' %}">
        <button class="login100-form-btn">
            Go Shop
        </button>
    </a>
</div>
<br><br><br>
{% endblock  %}