{% extends './register.html' %}
{% load static %}

{% block content %}
<span class="login100-form-logo">
    <img src="{% static 'images/sofa.png' %}" height="175px" alt="Image" class="img-fluid">
</span>
<br><br><br><br><br><br>
<center><h3 style="color:rgb(255, 234, 0) ;">Change Password  SuccessFully</h3></center><br><br>

{% endblock content %}

{% block go_back %}
<br><br><br>
<div class="container-login100-form-btn">
    <a href="{% url 'shop:product_list' %}">
        <button class="login100-form-btn">
            Go Shop
        </button>
    </a>
</div>
<br><br><br>
{% endblock  %}