{% extends './register.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
	<span class="login100-form-logo">
		<img src="{% static 'images/sofa.png' %}" height="175px" alt="Image" class="img-fluid">
	</span>

	<span class="login100-form-title p-b-34 p-t-27">
	</span>

		{% csrf_token %}
		<div class="wrap-input100 validate-input">
			{{form.new_password1|add_class:'input100'|attr:"placeholder:New Password"}}
			<span class="focus-input100" data-placeholder="&#xf207;"></span>
		</div>

		<div class="wrap-input100 validate-input" data-validate="Enter password">
			{{form.new_password2|add_class:'input100'|attr:"placeholder:Confirm Paswword"}}
			<span class="focus-input100" data-placeholder="&#xf191;"></span>
		</div>

	<div class="container-login100-form-btn">
		<button class="login100-form-btn">
			Change Password
		</button>
	</div>
	
{% endblock content %}